<head>  
  <style>
    /* body{
      background-color:rgb(181, 199, 231);
    } */
    input{
      border: 1px solid rgb(58, 57, 57);
      height: 20px;
    }
    label{
      font-size: 20px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }      
  </style>  
  </head>
<body>  
<form method="POST" class="post-form" action="/post_method">  
        {% csrf_token %}  
    <div class="container">  
<br>  
  <label class="col-sm-4 col-form-label"></label>  
    <div class="col-sm-4">  
    <center><h3>Enter Details</h3></center>  
    </div>  
    <center>
    <label class="col-sm-4 col-form-label">Date:</label>  
    <div class="col-sm-4">  
      {{ form.date }}  
    </div>
  <label class="col-sm-4 col-form-label">Document Number:</label>  
    <div class="col-sm-4">  
      {{ form.doc_no }}  
    </div>  
    <label class="col-sm-4 col-form-label">Received From:</label>  
    <div class="col-sm-4">  
      {{ form.received_from }}  
    </div>  
    <label class="col-sm-4 col-form-label">Receipt Number:</label>  
    <div class="col-sm-4">  
      {{ form.receipt_no }}  
    </div>
    <label class="col-sm-4 col-form-label">Issue:</label>
    <div class="col-sm-4">
      {{form.issue}} 
    </div>
    <label class="col-sm-4 col-form-label">Balance:</label>
    <div class = "col-sm-4">
      {{form.balance}}
    </div>
    <label class="col-sm-4 col-form-label">Verification Date:</label>
    <div class = "col-sm-4">
      {{form.verification_date}}
    </div>
    <label class="col-sm-2 col-form-label">Verified By:</label>
    <div class = "col-sm-4">
      {{form.verified_by}}
    </div>
  
    <label class="col-sm-4 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Submit</button>  
    </div> 
  </center> 
    </div>  
</form>  
</body>  
</html>  