<head>
  <title>Edit The Record</title>
  <style>
    /* body{
      background-color:rgb(181, 199, 231);
    } */
    input{
      border: 1px solid rgb(7, 7, 7);
      height: 20px;
    }
    label{
      font-size: 30px;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 40%;
    }
    
    td, th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child() {
      background-color: #dddddd;
    }
    
    </style>
</head>
<body>
  <center>
    <h1> Update The Record</h1>
    <hr/>
    <form method="POST" action="/update/{{ Material.receipt_no }}">
      {% csrf_token %}
    <table class="table table-striped table-bordered table-sm">
      <tr>
        <td>Date</td>
        <td><input type="text" name="date"value="{{ Material.date }}"/></td>
      </tr>
      <tr>
        <td>Document Number</td>
        <td><input type="number" name="doc_no"value="{{ Material.doc_no }}"/></td>
      </tr>
      <tr>
        <td>Received From</td>
        <td><input type="text" name="received_from" value="{{ Material.received_from }}"/></td>
      </tr>
      <tr>
        <td>Receipt Number</td>
        <td><input type="number" name="receipt_no" value="{{ Material.receipt_no }}"readonly/></td>
      </tr>
      <tr>
        <td>Issue</td>
        <td><input type="text" name="issue"value="{{ Material.issue }}"/></td>
      </tr>
      <tr>
        <td>Balance</td>
        <td><input type="number" name="balance" value="{{ Material.balance }}"/></td>
      </tr>
      <tr>
        <td>Verification date</td>
        <td><input type="text" name="verification_date"value="{{ Material.verification_date }}"/></td>
      </tr>
      <tr>
        <td>Verified by</td>
        <td><input type="text" name="verified_by" value="{{ Material.verified_by }}"/></td>
      </tr>
    </table>
    <input type="submit" value="update"/> <a href="{% url 'display' %}"> Back to homepage</a>
    {% if messages %}
    {% for updation in messages %} 
    <h3 style="color: rgb(32, 143, 240);">{{updation}}</h3>
    {% endfor %}
    {% endif %}

    </form>
    
  </center>
</body>