<!DOCTYPE html>
<html>
    {% load static %}
    {% block myblock %}
    <div class="col-md-6">
      <form action="" method="GET">
        {% csrf_token %}
        <div class="form-group">
          <label>Enter the Receipt Number:</label>
          <input type="text"  name="receipt_no" placeholder="Enter the receipt_no">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="submit" >
          
        </div>
      </form>
    </div>
        
<head>
<style>
/* body{
  background-color:rgb(181, 199, 231);
} */
input{
  border: 1px solid black;
  height: 20px;
}
label{
  font-size: 30px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 5px;
}

tr:nth-child() {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2 style="text-align:center">BINCARD Table</h2>

<table>
  <tr>
    
    <th> date </th>
    <th> doc_no </th>
    <th> received_from</th>
    <th> receipt_no</th>
    <th> issue</th>
    <th> balance</th>
    <th> verification_date</th>
    <th> verified_by</th>
    
  </tr>
  <tr>
    {% for a in serializer %}
    <tr>
        <td> {{a.date}}</td>
        <td> {{a.doc_no}}</td>
        <td> {{a.received_from}}</td>
        <td> {{a.receipt_no}}</td>
        <td> {{a.issue}}</td>
        <td> {{a.balance}}</td>
        <td> {{a.verification_date}}</td>
        <td> {{a.verified_by}}</td>
    </tr>
    {% endfor%} 
    {% endblock %}
</table>
</body>
</html>
