<!-- <form action = "" method = "post">
    {% csrf_token %}
    {{form }}
    <input type="submit" value=Submit">
</form> -->
<html>

<head>
	<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<style>
		.i-am-centered {
			margin: auto;
			max-width: 300px;
			padding-top: 20%;
		}
	</style>
</head>

<body>
	<div class="i-am-centered">
		<form method="POST">
			{% csrf_token %}
			<div class="form-group">
				<label>Transaction type </label>
				{{ form.transaction_type }}
			</div>
			<div class="form-group">
				<label>Material Name </label>
				{{ form.material_name }}
			</div>
			<div class="form-group">
				<label>Date</label>
				{{ form.date }}
			</div>
			<div class="form-group">
				<label>Doc.no</label>
				{{ form.doc_no }}
			</div>
            <div class="form-group">
				<label>Received from</label>
				{{ form.received_from }}
			</div>
            <div class="form-group">
				<label>Receipt Number</label>
				{{ form.receipt_no }}
			</div>
            <div class="form-group">
				<label>issue</label>
				{{ form.issue }}
			</div>
            <div class="form-group">
				<label>balance</label>
				{{ form.balance }}
			</div>
            <div class="form-group">
				<label>verification date</label>
				{{ form.verification_date }}
			</div>
            <div class="form-group">
				<label>verified by</label>
				{{ form.verified_by }}
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</body>

</html>
